<!DOCTYPE html>
<html>
    <head>
        <title >
            
        </title>
        <style>
        textarea {
            
            margin: 10px 0;
            width: 300px;
            height: 100px;
        }
        title {
            text-align: center;
        }
        .error {
            font-style: italic;
            color: red;
        }
        body, .navigation { padding-left: 1em;}
        </style>
    </head>
    <body>
        <nav >
            <form style='display:inline-block'> 
                <a href="/" class="navigation">Home</a>
                <a href="/blog" class="navigation">All Posts</a>
                <a href="/newpost" class="navigation">New Post</a> 
                
                
            </form>
            <div style='float: right'>
                {% if 'username' in session %}
                {{ session['username'] }}
                    <form action="/logout" method="post">
                        <input type="submit" value="Log Out"/>
                    </form>
                {% else %}
                <form>
                    <a href="login">Log In</a> 
                </form>
                {% endif %} 
            </div>
        </nav>    
        



         
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                <dl>{{message}}</dl>
                {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}
     
        </div>
        
        <h1 style='text-align: center'>{{title}}</h1>

      
        
      
        {% block content %}
        {% endblock %}

    </body>
</html>