<!DOCTYPE html>
<html>
    <head>
        <title >
            
        </title>
        <style>
        textarea {
            
            margin: 10px 0;
            width: 300px;
            height: 100px;
        }
        title {
            text-align: center;
        }
        .error {
            font-style: italic;
            color: red;
        }
        </style>
    </head>
    <body>
        <div style='display:inline-block'>
            <form> 
                <a href="/blog">Main Blog Page</a> |
                <a href="/newpost">Add a Blog Entry</a> |
                <a href="/">Home</a>|
                {% if 'username' not in session %}
                <a href="login">Log In</a>
                {% endif %}
            </form>
        </div>    
        <div style='float: right'>
        {% if 'username' in session %}
        {{ session['username'] }}
            <form action="/logout" method="post">
                <input type="submit" value="Log Out"/>
            </form>
        </div>
        {% endif %}



         
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                <dl>{{message}}</dl>
                {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}
     
        </div>
        
        <h1 style='text-align: center'>{{title}}</h1>
        <div>
            <p>{{body}}</p>
        </div>
        
      
        {% block content %}
        {% endblock %}

    </body>
</html>