<!DOCTYPE html>
<html>
    <head>
        <title style='text-align: center'>
            {{Title}}
        </title>
        <style>
        title {
            text-align: center;
        }
        .error {
            color: red;
        }
        </style>
    </head>
    <body>
        <div style='display:inline-block'>
            <form> 
                <a href="/blog">Main Blog Page</a> 
                <a href="/newpost">Add a Blog Entry</a> 
            </form>
        
        </div>  

        {% block content %}
        {% endblock %}

    </body>
</html>