{% extends "base.html" %}

{% block content %} 

{% if not blog %}  
{% for blog in blogs %}
<table> 
    <tr>
        <td><h2><a href="/blog?id={{blog.id}}">{{blog.title}}</a></h2></td>
    </tr>   
    <tr>
        <td>{{blog.body}}</td>
    </tr> 
    <tr>
        <td>written by <a href="/blog?userId={{blog.owner_id}}">{{blog.owner.username}}</a></td>
    </tr>

</table>
{% endfor %}
{% else %}
<table> 
    <!-- <tr>
        <td><h2><a href="/blog?id={{blog.id}}">{{title}}</a></h2></td>
    </tr>    -->
    <tr>
        <td>{{blog.body}}</td>
    </tr> 
    <tr>
        <td>written by <a href="/blog?userId={{blog.owner_id}}">{{blog.owner.username}}</a></td>
    </tr>
    
</table>

{% endif %}




{% endblock %}